button {
    color:snow ;
    text-align: center;
    font-size: 30px;
    margin-left: 650px;
    margin-top:300px ;
    font-size: 50px;
    background-color:gold;
}
body {
    background-color:mintcream  
}